.header {
  background-color: #2d2d2d;
  padding: 0.3rem 2rem;
}

.nav {
  padding: 0.3rem 0.7rem;
  margin-right: 0px;
}

.icon-color {
  color: orange;
  font-size: 1.5rem;
}

.h-5 {
  color: #fff
}

@media (max-width : 575px){
    .header {
        background-color: #2d2d2d;
        padding: 0.3rem 0.5rem;
      }
}
