<div class="container-fluid pl-0 pr-0 overflow-x">
  <div class="row mr-0 bg-color">
    <div class="m-s">
      <a><img class="rounded img-width" src="{{this.image_url}}"></a>
    </div>
    <div class="col-12 mt-1">
      <div class="text-center user-name">{{this.name}}</div>
      <div>
        <p class="mb-2 text-center text-dark font-size">
          <span>{{this.username}}</span> |
          <span *ngIf="this.joinDate != null">Member Since {{this.joinDate | date}}</span>
        </p>
      </div>
      <div *ngIf="this.place != null && this.oragnization != null && this.blog != null" class="m-t text-center font-size text-dark">
        <div class="d-inline" *ngIf="this.place != null">
          <i class="fa fa-map-marker" aria-hidden="true"></i>{{this.place}} |
        </div>
        <div class="d-inline" *ngIf="this.oragnization != null">
          <i class="fa fa-briefcase" aria-hidden="true"></i> {{this.oragnization}} |
        </div>
        <div class="d-inline" *ngIf="this.blog != null">
          <i class="fa fa-rss-square" aria-hidden="true"></i> {{this.blog}}
        </div>
      </div>
      <div *ngIf="this.bio != null" class="ml-auto mr-auto ml-2 mb-2 text-center font-size bio-width">
        <p class="mb-2">{{this.bio}}</p>
      </div>
    </div>
    <div class="col-12 pl-0 pr-0 border-bottom">
      <ul class="nav nav-tabs justify-content-center" id="nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="tab" href="#1" role="tab" aria-controls="pills-home"
            aria-selected="true">Overview <span class="badge badge-pill badge-danger">{{this.repo_length}}</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="tab" href="#2" role="tab" aria-controls="pills-contact"
            aria-selected="false" (click)="follower(this.follower_url)">Followers <span class="badge badge-pill badge-danger">{{this.followers_count}}</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="tab" href="#3" role="tab" aria-controls="pills-contact"
            aria-selected="false">Following <span class="badge badge-pill badge-danger">{{this.following_count}}</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center mr-0 ">
    <div class="col-lg-9 col-md-10 col-sm-12 tab-content pr-0 justify-content-center" id="pills-tabContent">
      <div class="tab-pane fade show active" id="1" role="tabpanel" aria-labelledby="pills-home-tab">
        <h6 class="mt-2 mb-2 ml-3 mr-3" *ngIf="this.repo_length > 0">{{this.repo_length}} Repository</h6>
        <div class="row" *ngIf="this.repo_length == 0">
          <div class="px-2 mr-auto ml-auto">
            <div class="blankslate">
              <h4>
                {{this.username}} doesn't have any public Repository Yet.
              </h4>
            </div>
          </div>
        </div>
        <div class="row pt-3 pb-3 border-top" *ngFor="let repo of this.userrepo  | paginate: { itemsPerPage: 5, currentPage: p}">
          <div class="col-9 p-l-2 pr-0 font-size">
            <div class="">
              <h5><a target="_blank" href="{{repo.html_url}}">{{repo.name}}</a></h5>
            </div>
            <div>
              <p>{{repo.description}}</p>
            </div>
            <div>
              <span class="mr-2" *ngIf="repo.language != null"><i class="fa fa-edit"></i>{{repo.language}}</span>
              <span class="mr-2" *ngIf="repo.license != null"><i class="fa fa-balance"></i>{{repo.license.name}}</span>
              <span class="mr-2" *ngIf="repo.updated_at != null"><i class="fa fa-calendar"></i>Updated
                {{repo.updated_at | date}}</span>
            </div>
          </div>
          <div class="col-3 my-auto pl-0 text-center">
            <button class="btn btn-success btn-sm" (click)="openModal(repo.clone_url)">Clone</button>
          </div>
        </div>
        <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
      </div>
      <div class="tab-pane fade " id="2" role="tabpanel" aria-labelledby="pills-home-tab">
        <h6 class="mt-2 mb-2 ml-3 mr-3" *ngIf="this.followers_count > 0">{{this.followers_count}} Followers</h6>
        <div class="row" *ngIf="this.followers_count == 0">
          <div class="px-2 mr-auto ml-auto">
            <div class="blankslate">
              <i class="fa fa-users user-icon"></i>
              <h4>
                {{this.username}} doesn't have any followers yet.
              </h4>
            </div>
          </div>
        </div>
        <div class="row pt-3 pb-3 border-top" *ngFor="let follower of listFollowers  | paginate: { itemsPerPage: 5, currentPage: p}">
          <div class="col-3 text-center mt-1 pr-0">
            <img class="img-fluid user-img rounded" src="{{follower.avatar_url}}" alt="user img">
          </div>
          <div class="col-9">
            <div class="font-size">
              <h5>{{follower.login}}</h5>
              <span>{{follower.name}}</span>
            </div>
            <div class="font-size">
              <div *ngIf="follower.bio != null">
                <p>{{follower.bio}}</p>
              </div>
              <div>
                <span class="mr-2" *ngIf="follower.company != null"><i class="fa fa-briefcase"></i>{{follower.company}}</span>
                <span class="mr-2" *ngIf="follower.location != null"><i class="fa fa-map-marker"></i>{{follower.location}}</span>
                <span class="mr-2" *ngIf="follower.blog != null"><i class="fa fa-rss-square"></i>{{follower.blog}}</span>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
      </div>
      <div class="tab-pane fade" id="3" role="tabpanel" aria-labelledby="pills-home-tab">
        <h6 class="mt-2 mb-2 mr-3 ml-3" *ngIf="this.following_count > 0">{{this.following_count}} Following </h6>
        <div class="row" *ngIf="this.following_count == 0">
          <div class="px-2 mr-auto ml-auto">
            <div class="blankslate">
              <i class="fa fa-users user-icon"></i>
              <h4>
                {{this.username}} isn't following anybody yet.
              </h4>
            </div>
          </div>
        </div>
        <div class="row pt-3 pb-3 border-top" *ngFor="let follower of listFollowing  | paginate: { itemsPerPage: 5, currentPage: p}">
          <div class="col-3 text-center mt-1 pr-0">
            <img class="img-fluid user-img rounded" src="{{follower.avatar_url}}" alt="user img">
          </div>
          <div class="col-9">
            <div class="font-size mb-2">
              <h5>{{follower.login}}</h5>
              <span>{{follower.name}}</span>
            </div>
            <div class="font-size">
              <div *ngIf="follower.bio != null">
                <p>{{follower.bio}}</p>
              </div>
              <div>
                <span class="mr-2"><i class="fa fa-briefcase mr-1"></i>{{follower.company}}</span>
                <span class="mr-2"><i class="fa fa-map-marker mr-1"></i>{{follower.location}}</span>
                <span class="mr-2"><i class="fa fa-rss-square mr-1"></i>{{follower.blog}}</span>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls *ngIf="this.following_count > 0" class="text-center" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<div class="remodal modal-width" id="modal" data-remodal-options="hashTracking: false, closeOnOutsideClick: true">
  <button data-remodal-action="close" class="remodal-close" (click)="close()"></button>
  <h5>Clone with HTTPS </h5>
  <div class="row">
    <div class="col-12">
      <mat-form-field class="col-11">
        <input matInput placeholder="Copy Url" [(ngModel)]="this.clone_url" name = "clone_url" readonly>
      </mat-form-field>
      <button (click)="copyLink()"><i class="fa fa-clone" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
